%btn-share {
  padding: 10px 10px;
  border-radius: 16px;
  border-color: teal;
  font-size: 1rem;
  font-weight: bold;
  &:active {
    border-color: #fff;
    color: white;
  }
}

.btn_delete {
  @extend %btn-share;
  background-color: orangered;
}

.btn_create {
  @extend %btn-share;
  background-color: limegreen;
  margin-left: 10px;
  margin-top: 7px;
}

.btn_select {
  @extend %btn-share;
  background-color: blueviolet;
  &:focus {
    background-color: royalblue;
  }
}
